@model IEnumerable<BehrSite17.Models.Backgrounds>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SiteLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BackImage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SiteLocation)
        </td>
        <td>
            <img src="~/Content/Images/BackImages/@(item.BackImage)" style="max-width:200px" />
            @*@Html.DisplayFor(modelItem => item.BackImage)*@
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
