<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Behr Travel Online</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("optionalHeadJs", false)
    <style>
        .navbar {
            margin-bottom: 0 !important;
        }
        #logo-main {
        padding-left:0 !important;
        }
        .navbar-collapse {
        padding-left:0 !important;
        }
        .contactnum
        {
            font-size:20px;
        }
        /* Large desktops and laptops */
        @@media (min-width: 1200px){
            .hpCallouts_sect {
                width: 22% !important;
            }
            .fixedCont {
                max-width:1130px;
                border"1px solid red";
                margin:0 auto;
            }
            .hpCallouts_sect {
                color: #5b6270;
                padding-left: 1%;
                padding-right: 1%;
                border-right: 1px solid #ccc;
            }

            .tpadformfix {
                padding-top: 55px !important;
            }
        }

        /*.content-wrapper {*/
            /*dynamically set background image on page*/
            /*background-image:url("../../Content/Images/BackImages/@@(TempData[""])");
        }*/

    </style>
</head>
<body>

    <header role="banner">
        <div class="fixedCont">

            <div class="row">
                <div class="col-md-7 thelogo">
                    <a href="~/"><img id="logo-main" src="~/Content/Images/OthImages/Behr Logo.jpg" alt="Behr Travel Logo" /></a>
                </div>
                <div class="col-md-4 headcontact">
                    <p>
                        Give us a call: <span class="contactnum">1-800-555-1234</span> <br />
                        We are open 8:00AM - 11:59PM
                    </p>
                </div>
            </div>


        </div>
            <nav id="navbar-primary" class="navbar navbar-default" role="navigation">
                <div class="fixedCont">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar-primary-collapse">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("FLIGHTS", "Flight", "Travel")</li>
                                <li>@Html.ActionLink("HOTELS", "Hotel", "Travel")</li>
                                <li>@Html.ActionLink("BEHR BUSINESS TRAVEL", "BusinessTravel", "Home")</li>
                                <li>@Html.ActionLink("WHO WE ARE", "About", "Home")</li>
                                <li>@Html.ActionLink("TRAVEL NEWS","Index","BlogB")</li>
                                <li>@Html.ActionLink("CONTACT US", "Contact", "Home")</li>
                                @*<li>@Html.ActionLink("CAR", "car", "Home")</li>
                                <li>@Html.ActionLink("CORPORATE", "corporate", "Home")</li>*@
                                @*<li>@Html.ActionLink("GROUPS", "groups", "Home")</li>*@
                                @*<li>@Html.ActionLink("BLOG", "blog", "Home")</li>*@
                                @*<li>@Html.ActionLink("ABOUT", "about", "Home")</li>*@
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div>
                </div>
                <!-- /.container-fluid -->
            </nav>
</header>

    <div class="container body-content">
        @RenderBody()

        <footer>
            <p style="padding-left:15px;">&copy; @DateTime.Now.Year - BEHR TRAVEL</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

