@model BehrSite17.Models.Specials

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Specials</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ButtonTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ButtonTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialImage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
